* {
    background-color: #1f2937;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

body {
    margin: 0px;
}
#header-container {
    margin: 0px 140px 0px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.header-item {
    display: flex;
    gap: 15px;
}

.header-item * {
    color: #c3c4c7;
    font-size: 18px;
}

/* completed                                                    */
#container-one {
    margin: 0px 140px 0px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.container-item {
    width: 500px;
    padding-top: 15px;
}

#main-text {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

#main-subtext {
    color: #c3c4c7;
    font-size: 18px;
}

#bird-image-subtext {
    color: #c3c4c7;
    font-size: 14px;
    text-align: center;
}

button, button *{
    height: 35px;
    width: 100px;
    color: #f9faf8;
    background-color: #3882f6;  
    border-radius: 6px;
    border: none;
    font-weight: bolder;
}

#container-two {
    padding-top: 6px;
    padding-bottom: 80px;
}
#container-two, #container-two * {
    background-color: white;
}

h2 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}

#image-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin: 0px 140px 0px;
}

#image-one, #image-two, #image-three, #image-four {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#image-one img {
    border: #F09A9D solid 5px;
    flex: 1;
}

#image-two img {
    border: wheat solid 5px;
    flex: 1;
}
#image-three img {
    border: #C3EDFA solid 5px;
    flex: 1;
}
#image-four img {
    border: #B2D6FF solid 5px;
    flex: 1;
}
img {
    border-radius: 25px;
}

#quote-container, #quote-container * {
    background-color: #e5e7eb;
}

#quote-container {
    padding: 100px 250px 100px;
    display: flex;
    flex-direction: column;
}

#quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}
#quote-author {
    align-self: flex-end;
    font-size: 24px;
    padding: 16px;
    font-weight: 900;
}



#background-container, #background-container * {
    background-color: white;
    
}

#container-three {
    background-color: white;    
    display: flex;
    justify-content: center;
    align-items: stretch    ;
    padding: 75px;
    border-radius: 25px;
}
#container-three * {
    background-color: #3882f6;
    padding: 12px;
    color: white;
}

#container-three p {
    margin: 0;
}

#main-signup {
    border: solid white;
    width: 100px;
    height:100px;
}

#footer p {
    color: #f9faf8;
    font-size: 12px;
    text-align: center;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

